.navbar {
    padding: 20px 8%;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;
    background-color: var(--light);
    border-bottom: 1px solid var(--textPrimary);
    height: 73px;

}

.navbar .navbar-form {
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar .navbar-form input {
    width: 0px;
    padding: 5px;
    color: var(--light);
    transition: all 0.75s ease;
}

.navbar .navbar-form input::placeholder {
    color: var(--light);
}

.navbar .navbar-form .input-active {
    margin: 0 10px;
    width: 150px;
    border-bottom: 1px solid var(--light);
}

.white-nav {
    background-color: transparent;
}

.navbar>.navs-container {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 15px;

}

.navbar ul {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 250px;


}

.navbar>ul li {
    font-weight: 400;
    font-size: 12px;


}

.navbar>ul {
    margin-left: auto;
    width: fit-content;
    gap: 10px;
    padding: 0px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-right: 50px;

    border-bottom: 0.5px solid var(--textPrimary);
}

.white-nav>ul {
    border-bottom: 0.5px solid var(--light);
}

.navbar>ul .circle {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #ffffff;
    padding: 0px;
}

.navbar li {
    cursor: pointer;
    font-weight: bold;

}

.navbar .icon-button {
    font-size: 20px;
}

.white-nav {
    border-bottom: none;
}

.white-nav .navs-container p,
.white-nav .navs-container a,
.white-nav li,
.white-nav button,
.white-nav h1 {
    color: var(--light)
}

.nav-detail {
    background-color: var(--light);
    height: 80vh;
    overflow-y: scroll;
    margin-top: 20px;
    border-top: 3px solid var(--primary);
    position: fixed;
    top: -100%;
    right: 0;
    width: 80%;
    /* width: 100%;
  height: 100%; */
    /* background-color: #fff; */
    transition: top 0.3s ease;
    /* Add a transition for smooth animation */
    overflow-y: auto;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.nav-detail h4 {
    font-style: italic;
    color: var(--primary);
    margin-bottom: 20px;

}

.nav-detail .nav-picks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.nav-detail p {
    font-weight: bold;
    margin: 5px 0;
}

.visible {
    top: 100px;
    /* Move the container to the top of the viewport */
}

.nav-detail .nav-picks-container {
    background-image: url('../assets/nav_bg.jpeg');
    transition: all 2s ease-out;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 200px;
    height: 150px;
    transition: all 2s ease-out;
    padding: 20px;
    position: relative;
}

.footer {
    background-color: #323232;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;

}

.footer p,
.footer li,
.footer a {
    color: var(--light);
    cursor: pointer;
}

.footer p,
.footer div,
.footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer div {
    gap: 30px;
}

.footer ul {
    gap: 20px;
}

.footer p {
    gap: 10px;
    cursor: text;
}

.product-card {
    margin: 10px;
}

.product-card>div {
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    width: 100%;
    height: 400px;
    transition: all 2s ease-out;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
    transform: scale(1);
}

.product-card>div>h3 {
    position: absolute;
    bottom: 10px;
}

.slick-slide {
    /* margin: 0 10px; */
    /* margin-right: 20px; */
}

/* Adjust the last slide's margin to prevent overflow */
.slick-slide:last-child {
    /* margin-right: 0; */
}

.product-card>div:hover,
.nav-detail .nav-picks-container:hover {
    /* background-size: 110%; */
    transform: scale(1.1);
    transition: all 2s ease-out;
    /* animation: zoom-in 2s ease; */
}

@keyframes zoom-in {
    0% {
        transform: scale(1);
        /* Initial scale (no zoom) */
    }

    100% {
        transform: scale(1.1);
        /* Final scale (10% zoom) */
    }
}

.productSlider {}

.icon-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #D4A45E;
    font-size: 20px;
}

.icon-detail>div {
    width: 80px;
}

.icon-detail>div>img {
    width: 100%;
}

.icon-detail .anticon {
    border: 1.5px solid #D4A45E;
    border-radius: 50%;
    padding: 5px;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    height: 300px;
    opacity: 0.7;
    /* transition: all 2s ease-in; */
}

.testimonial-card>.image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--textPrimary);

}

.testimonial-card>.image img {
    width: 100%;
}

.testimonial-card-active {
    border: 1px solid #dbdbdb;
    background-color: #eeeeee;
    border-radius: 10px;
    justify-content: space-between;
    height: 300px;
    padding: 24px;
    padding-bottom: 50px;
    opacity: 1;
    transition: all .7s;

}

.testimonial-card-active .image {
    width: 125px;
    height: 125px;
    margin-top: -70px;
}

.testimonialSlider {
    padding: 0 0%;
}

.productWithDetailCard {
    display: flex;
    border-radius: 20px;
    border: 1px solid var(--textLight);
    border: 1px solid #dbdbdb;
    margin: 50px 0;
}



.productWithDetailCard>div {
    flex: 1;
}

.productWithDetailCard div img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.productWithDetailCard div:nth-child(1) {
    height: 250px;
    /* border-radius: 20px 0px 0px 20px; */
}

.productWithDetailCard div:nth-child(2) {
    /* border: 1px solid red; */
    padding: 20px 0px;

}

.productWithDetailCard div:nth-child(2)>h3,
.productWithDetailCard div:nth-child(2)>p {
    padding: 0px 30px;

}